block navbar
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') codingFun
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          if user
            li
              a(href='/articles/add') Add Article
        form.form-inline.mt-2.mt-md-0
          input.form-control.mr-sm-2(type='text', placeholder='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.nav.navbar-nav.navbar-right
          if user
            li 
              a(href='/users/logout') Logout
          else
            li
              a(href='/users/register') Register
            li
              a(href='/users/login') Login        