extends common_template/layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)= article.title
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0')
      li.active(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .carousel-item
        img.first-slide(src='#', alt='First slide')
        .container
          .carousel-caption.d-none.d-md-block.text-left
            h1 Example headline.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
      .carousel-item.active
        img.second-slide(src='#', alt='Second slide')
        .container
          .carousel-caption.d-none.d-md-block
            h1 Another example headline.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
      .carousel-item
        img.third-slide(src='#', alt='Third slide')
        .container
          .carousel-caption.d-none.d-md-block.text-right
            h1 One more for good measure.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
    a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
